In [1]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.0.2-cp311-cp311-macosx_10_9_x86_64.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 6.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 6.6 MB/s eta 0:00:00a 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 5.5 MB/s eta 0:00:0000:01
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.2 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## Pandas - библиотека для работы с данными

In [2]:
import pandas as pd

- Объект класса Series

In [3]:
# Series - одномерный массив данных

# Создание на базе списка
list_1 = [10,20,30,40]

s1 = pd.Series(list_1)
s1

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
# Создание на базе словаря
d1 = {'a':10, 5:20, 0:500}

s2 = pd.Series(d1)
s2

a     10
5     20
0    500
dtype: int64

In [5]:
# Явные индексы
s1[1]

20

In [6]:
s2[0]

500

In [7]:
s2['a']

10

In [8]:
# Неявные индексы
# атрибут-индексатор для НЕявных индексов

s1.iloc[0]

10

In [9]:
s1.iloc[-1]

40

In [10]:
s2.iloc[0]

10

In [11]:
s2.iloc[-1]

500

In [12]:
s2.shape

(3,)

In [13]:
s2.size

3

In [14]:
s2.index

Index(['a', 5, 0], dtype='object')

In [15]:
s2.values

array([ 10,  20, 500])

In [16]:
# Данные по населению городов Якутии

pop_di = {
    "Yakutsk": 318768,
    "Nerungry": 57009,
    "Viliuysk": 11095
}

pop_s = pd.Series(pop_di)
pop_s

Yakutsk     318768
Nerungry     57009
Viliuysk     11095
dtype: int64

In [17]:
# 1) Вывести значение населения выбранного города
# 2) Cделать срез данных от Нерюнгри до Вилюйска

In [18]:
pop_di["Nerungry"]

57009

In [25]:
slice = pop_s["Nerungry":"Viliuysk"]
slice

Nerungry    57009
Viliuysk    11095
dtype: int64

- Объект класса DataFrame

In [28]:
# DataFrame - двумерный массив данных

d2 = {
    "col1": {"row1":100, "row2":200},
    "col2": {"row2": 300, "row1": 400}
}

df1 = pd.DataFrame(d2)
df1

      col1  col2
row1   100   400
row2   200   300

In [32]:
data = pd.read_csv("data/president_heights.csv")
data.head(7)

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183
5      6  John Quincy Adams         171
6      7     Andrew Jackson         185

In [36]:
#  Данные из строки
data["name"].head(10)

0         George Washington
1                John Adams
2          Thomas Jefferson
3             James Madison
4              James Monroe
5         John Quincy Adams
6            Andrew Jackson
7          Martin Van Buren
8    William Henry Harrison
9                John Tyler
Name: name, dtype: object

In [39]:
data.loc[0, "name"]

'George Washington'

In [40]:
data.loc[0, :]

order                         1
name          George Washington
height(cm)                  189
Name: 0, dtype: object

In [41]:
data.loc[10:20, "name":]

                   name  height(cm)
10        James K. Polk         173
11       Zachary Taylor         173
12     Millard Fillmore         175
13      Franklin Pierce         178
14       James Buchanan         183
15      Abraham Lincoln         193
16       Andrew Johnson         178
17     Ulysses S. Grant         173
18  Rutherford B. Hayes         174
19    James A. Garfield         183
20    Chester A. Arthur         183